.myLabel {
    display: block;
    position: relative;
    margin-top: 8px;
}

.myLabelText {
    color: rgba(255, 255, 255, .3);
    font-weight: 100;
    font-size: 14px;
    position: relative;
    margin-left: 8px;
    transition: all .3s;
}

.myLabel:focus-within .myLabelText {
    color: #a179fd
}